html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #151515;
    color: white;
    font-family: 'NeueMontreal', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: none;
}

#frame_1{
    width: 100%;
    height: 100%;
    .title{
        position: absolute;
        margin: 30px;
        right: 0;
        bottom: 0;
        text-align: right;
    }
    h1{
        font-size: 120px;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: clip-path 0.3s ease-in-out;
    }
    .divider{
        height: 5px;
        background-color: white;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); 
        transition: clip-path 0.1s ease-in-out;
    }
    p{
        font-size: 24px;
        margin: 15px 0;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: clip-path 0.3s ease-in-out;
    }

    .click{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        opacity: 1;
        transition: opacity 0.2s ease-out;
        button{
            padding: 15px;
            font-size: 24px;
            height: 150px;
            width: 150px;
            background: none;
            color: white;
            border: 1px solid white;
            border-radius: 100%;
            cursor: none;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}
.moveClipPath{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)!important;
}
.movedClipPath{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)!important;
}
.fadeOut{
    opacity: 0!important;
}
.slideOut{
    right: 200vw!important;
}
.slideIn{
    right: 0!important;
}

#frame_2, #frame_3, #frame_4, #frame_5, #frame_6, #frame_7{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    right: -100vw;
    transition: right 1.8s ease-out;
    img {
        object-fit: fill;
        height: 100vh;
    }
}
#frame_7{
    background: white;
    color: black;
}

.title_menu_photos{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18rem;
    opacity: 0.1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.4s ease-in-out;
}
.liste_photos{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    list-style: none;
    text-align: right;
    li{
        opacity: 0.1;
        font-size: 5rem;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: all 0.4s;
    }
    li:hover{
        opacity: 1;
        font-size: 5.5rem;
    }
}
.photos_menu,
.design_menu{
    transition: all 0.3s;
}
.hide_photos_menu{
    transform: translate(-100%, 0);
}
.show_design_menu{
    transform: translate(-100%, 0);
}
.design_menu{
    position: absolute;
    width: 100%;
    right: -100%;
    li{
        opacity: 0.1;
        font-size: 5rem;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: all 0.4s;
    }
    li:hover{
        opacity: 1;
        font-size: 5.5rem;
    }
}
.arrow{
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 10rem;
    opacity: 0.1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.4s ease-in-out;
}
.arrow_design{
    transform: rotate(180deg)!important;
    left: 20px!important;
}
.arrow_design{
    transform: scale(1.1) rotate(180deg)!important
}
.arrow:hover{
    opacity: 1;
    transform: scale(1.1);
}

@import url('https://fonts.googleapis.com/css2?family=NeueMontreal&display=swap');